@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Fira+Mono:400,500,700|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');

@font-face {
  font-family: EskellDisplayStencil;
  src: url("./fonts/EskellDisplay/EksellDisplayStencil.otf") format("opentype");

  font-weight: normal;
}

/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Fira Mono', monospace;
*/

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  /*background: #00edc5;*/
}

h1,h2,h3,h4,h5,h6{
  margin: 40px 0 20px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

p, .article-body {
  font-size: 1.15rem;
  line-height: 1.75rem;
}

.logo-lockup {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
}

.logo-lockup a {
  display: block;
  cursor: pointer;
}

.logo-lockup a .logo {
  width: 60px;
  height: 60px;
  background: #EAE7D6;
}

.logo-lockup a small {
  display: block;
  transform: rotate(-90deg);
  margin-top: 0;
  font-size: 1rem;
  line-height: 60px;
  opacity: 0;
  padding: 0 20px;
  top: 60px;
  left: -30px;
  position: fixed;
  z-index: -1;
  transition: all .25s ease-in-out;
}

.logo-lockup a:hover small {
  opacity: 1;
  top: 120px;
}

.article {
  max-width: 90vw;
  margin: 0 auto;
  padding: 60px 0;
  margin-bottom: 60px;
}


.section {
  padding: 0 10px;
  margin: 0 auto;
}

.article-header {
  width: 600px;
  margin-left: 10vw;
}

.hed {
  font-family: 'EskellDisplayStencil', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 100;
  margin: 20px 0 20px;
  width: 150%;
  max-width: 90vw;
}

.dek {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  display: block;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: black;
  margin-top: 1rem;
}

.byline {
  font-family: 'Fira Mono', monospace;
  font-size: .95rem;
  line-height: 1rem;
  color: black;
  margin-top: 1rem;
}

a, a:visited {
  color: black;
  cursor: pointer;
  text-decoration: none;
  /*border-bottom: 1px solid #EAE7D6;*/
  box-shadow: inset 0 -4px 0 #EAE7D6;
  transition: box-shadow 0.25s ease-out;
}

a:hover {
  color: black;
  /*background: #EAE7D6;*/
  box-shadow: inset 0 -20px 0 #EAE7D6;
}

a tspan {
  fill: #350bd5;
  text-decoration: underline;
}

.byline a {
  color: black;
}

.article-body {
  width: 600px;
  margin-left: 10vw;
  margin-top: 45px;
}

pre {
  margin: 25px 0;
  width: 100%;
}

pre code {
  background: #F2F3F2;
  color: black;
  padding: 20px 15px;
  width: 100%;
  display: block;
  overflow-x: auto;
}
code {
  background: #F2F3F2;
  color: black;
  padding: 1px 5px;
}

.inset {
  max-width: 400px;
  margin: 0 auto;
}

input {
  cursor: pointer;
}

.relative {
  position: relative;
}
.aside {
  position: absolute;
  width: 300px;
  right: calc((10vw + 600px + 150px) / -2);
}

svg.trig-display line,
svg.trig-display circle,
svg.trig-display path,
.stats-container svg line,
.stats-container svg path {
  vector-effect: non-scaling-stroke;
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.fixed {
  position: fixed;
  display: flex;
  align-self: center;
  /*flex-direction: column;*/
  align-items: center;
  right: 25px;
  top: 0;
  bottom: 0;
  width: calc((80vw - 600px) - 50px);
}

.fixed div {
  width: 100%;
}
.fixed svg {
  cursor: crosshair;
}

span.action {
  border-color: #5601FF;
  border-width: 2px;
  border-style: none none solid none;
  color: #5601FF;
  /*font-size: 0.9em;*/
  padding: -4px 5px;
  margin: 0 5px;
  cursor: pointer;
}

.stats-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  font-family: 'Fira Mono', monospace;
  font-size: 11px;
  margin-bottom: 10px;
}
.stats-container div {
  width: 50%;
  white-space:nowrap;
  text-align: center;
  cursor: pointer;
}
.stats-container .selected {
  font-weight: bold;
}
.stats-container .sticky {
  text-decoration: underline;
}

.instructions {
  text-align: center;
  color: #888;
  font-size: 12px;
  text-transform: uppercase;
}

@media all and (max-width: 1600px) {
  .article-header {
    margin-left: 5vw;
  }
  .article-body {
    margin-left: 5vw;
  }

  .fixed {
    width: calc((85vw - 600px) - 50px);
  }
}


@media all and (max-width: 1200px) {
  /* put your css styles in here */
  .article-header {
    margin-left: 10px;
    width: 500px;
  }
  .article-body {
    margin-left: 10px;
    width: 500px;
  }

  .fixed {
    width: calc((500px - 10px) - 50px);
  }
}


@media all and (max-width: 1000px) {
  /* put your css styles in here */
  .desktop {
    display: none;
  }
  .relative {
    position: static;
  }
  .aside {
    position: static;
    width: 100%;
    right: 0;
  }

  .hed {
    width: 100%;
  }

  .article {
    padding: 15px 0;
  }

  .article-header {
    width: 90vw;
    max-width: 600px;
    margin: 0 auto;
  }
  .article-body {
    width: 90vw;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 80vh;
  }

  .fixed > div {
    width: 45%;
  }

  .fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    top: initial;
    background: #EAE7D6;
  }

  .stats-container, .instructions, .logo-lockup {
    display: none;
  }

}

